/* Reset Firefox */
.sanity-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sanity-button {
  -webkit-font-smoothing: inherit;
  text-align: center;
  outline: none;
  appearance: none;
  background: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  font: inherit;
  margin: 0;
  padding: var(--padding-small) var(--padding-medium);
  box-sizing: border-box;
  transition: transform 200ms, background 200ms, border-color 200ms;

  @nest & > span {
    display: block;
    margin: 0 auto;
  }

  @nest &:not(.sanity-button--ghost) {
    background-color: var(--color-black);
    color: var(--color-white);

    @nest &.sanity-button--red {
      background-color: var(--color-red);
    }

    @nest &.sanity-button--green {
      background-color: var(--color-green);
    }

    @nest &.sanity-button--blue {
      background-color: var(--color-blue);
    }
  }

  @nest &.sanity-button--ghost {
    border-color: var(--color-shade3);

    @nest &.sanity-button--red {
      border-color: color-mod(var(--color-light-red) alpha(40%));
    }

    @nest &.sanity-button--green {
      border-color: color-mod(var(--color-light-green) alpha(40%));
    }

    @nest &.sanity-button--blue {
      border-color: color-mod(var(--color-light-blue) alpha(40%));
    }
  }

  @media (hover: hover) {
    @nest &:hover:not([disabled]) {
      transform: translate3d(0, -1px, 0);
      color: var(--color-white);
      background: var(--color-black);
      border-color: var(--color-black);
    }
  }

  @nest &[disabled] {
    opacity: 0.5;
  }

  /* For disabled links */
  @nest &[data-disabled="true"] {
    opacity: 0.5;
  }

  @nest &.sanity-button--small {
    font-size: var(--font-small-size);
    line-height: var(--font-small-line-height);
    border-radius: 3px;
    padding: var(--padding-x-small) var(--padding-small);
  }

  @nest &.sanity-button--large {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
    border-radius: 6px;
    padding: var(--padding-medium) var(--padding-large);
  }
}

a.sanity-button {
  text-decoration: none;
}
