@font-face {
  font-family: "Calibre";
  font-weight: 300;
  font-display: fallback;
  src: url("/fonts/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CalibreWeb-Light.woff2") format("woff2"),
    url("/fonts/CalibreWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CalibreWeb-Regular.woff2") format("woff2"),
    url("/fonts/CalibreWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-weight: 500;
  font-display: fallback;
  src: url("/fonts/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CalibreWeb-Medium.woff2") format("woff2"),
    url("/fonts/CalibreWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-weight: 600;
  font-display: fallback;
  src: url("/fonts/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CalibreWeb-Semibold.woff2") format("woff2"),
    url("/fonts/CalibreWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-weight: 700;
  font-display: fallback;
  src: url("/fonts/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CalibreWeb-Bold.woff2") format("woff2"),
    url("/fonts/CalibreWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/CalibreWeb-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/CalibreWeb-RegularItalic.woff2") format("woff2"),
    url("/fonts/CalibreWeb-RegularItalic.woff") format("woff");
}
